.login__wrapper{
  display: flex;
  position: absolute;
  //top: 70px;
  height: calc(100vh - 110px);
  width: 100%;
  align-items: center;
  justify-content: center;
}
.login_card{
  position: absolute;
  top: 70px;
}

.social-login__title{
  margin: 15px 0px 10px 0px;
}

.btn-social{
  margin: 10px 0px;
  height: 30px;
  vertical-align: middle; 
}

.btn-social span{
color: white;
}

.btn-social__content{
  font-size: 14px;
}